<div class="w-full flex flex-col justify-start gap-2">
  <div class="self-start w-full flex items-center justify-between">
    <div class="text-gray-800 text-2xl font-medium">Management Tool</div>
    <div class="action-section flex gap-2 items-center">
      <button mat-icon-button (click)="viewMode$.set(ProductViewMode.List)">
        <mat-icon>list</mat-icon>
      </button>
      <button mat-icon-button (click)="viewMode$.set(ProductViewMode.Grid)">
        <mat-icon>apps</mat-icon>
      </button>
      <button mat-icon-button (click)="sidebarVisible$.set(true)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div
    class="filter-section h-[48px] w-full p-2 bg-white flex items-center justify-start"
  >
    <button mat-button matPrefix>
      <mat-icon>search</mat-icon>
    </button>
    <input
      pInputText
      #inputField
      (input)="filterQuery$.set(inputField.value)"
      placeholder="Search By Name.."
      class="ng-invalid ng-dirty w-full h-full pe-2 p-2 text-xl text-gray-800"
    />
  </div>

  @if (!productLoading$() && productLoaded$()) {
    <div
      class="products-board w-full"
      [ngClass]="
        viewMode$() === ProductViewMode.List ? 'list-view' : 'grid-view'
      "
    >
      @for (product of productsToShow$(); track product) {
        <app-product
          class="product-item"
          [ngClass]="{
            'list-view': viewMode$() === ProductViewMode.List,
            'grid-view': viewMode$() !== ProductViewMode.List,
            'selected':
              selectedProductToEdit$() &&
              product.id === selectedProductToEdit$()?.id
          }"
          [product]="product"
          [mode]="viewMode$()"
          (click)="selectedProductToEdit$()?.id === product.id ?  selectedProductToEdit$.set(undefined): selectedProductToEdit$.set(product)"
        ></app-product>
      }
    </div>
  } @else {
    @for (_ of [].constructor(pageSize$()); track _) {
      <p-skeleton
        class="p-1"
        [width]="viewMode$() === ProductViewMode.List ? '100%' : '160px'"
        height="48px"
      ></p-skeleton>
    }
  }
  <div class="footer py-2 flex items-center justify-end">
    <mat-paginator
      style="background: transparent; font-size: 16px"
      [length]="filteredProducts$().length"
      [pageSize]="pageSize$()"
      [pageSizeOptions]="pageSizeOptions"
      (page)="handlePageEvent($event)"
    >
    </mat-paginator>
  </div>
</div>

<p-sidebar
  [visible]="sidebarVisible$()"
  (visibleChange)="sidebarVisible$.set($event)"
  [position]="'right'"
  [style]="{ width: '30%', 'background-color': 'rgb(234,237,239)' }"
>
  <app-product-form
    [product$]="selectedProductToEdit$()"
    [mode$]="selectedProductToEdit$() ? ProductFormMode.Edit : ProductFormMode.Create"
    [(sideNavOpen$)]="sidebarVisible$"
  ></app-product-form>
</p-sidebar>
