<div class="product-form w-full h-full flex flex-col px-4">
  <div class="text-2xl pb-4">
    {{ mode$() === ProductFormMode.Edit ? "Edit Product" : "Add Product" }}
  </div>

  @if (productForm) {
    <form [formGroup]="productForm" class="w-full flex flex-col gap-4 p-1">
      <div class="flex flex-col gap-2 w-full">
        <mat-label class="text-lg">Title</mat-label>
        <input
          pInputText
          formControlName="title"
          id="title"
          class="ng-invalid ng-dirty w-full h-[44px] p-2 text-xl text-gray-800"
        />
      </div>

      <div class="flex flex-col gap-2 w-full">
        <mat-label class="text-lg">Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          pInputTextarea
          class="w-full h-[104px] p-2 text-lg text-gray-800"
          [placeholder]="
            mode$() === ProductFormMode.Edit
              ? product$()?.description || ''
              : 'Add description here...'
          "
        ></textarea>
      </div>

      <div
        class="flex gap-2 w-full"
        [ngClass]="
          isMobile$()
            ? 'flex-col justify-start items-start'
            : 'flex-row justify-center items-center'
        "
      >
        <mat-label class="w-fit text-lg whitespace-nowrap"
          >Select Category</mat-label
        >
        <p-dropdown
          formControlName="category"
          [options]="categories"
          class="w-full input-field"
          [ngStyle]="{ width: '--webkit-fill-available' }"
          placeholder="Select a Category.."
        />
      </div>

      <div
        class="flex gap-2 w-full"
        [ngClass]="
          isMobile$()
            ? 'flex-col justify-start items-start'
            : 'flex-row justify-center items-center gap-2'
        "
      >
        <mat-label class="text-lg">Price</mat-label>
        <p-inputNumber
          formControlName="price"
          inputId="currency-us"
          mode="currency"
          currency="USD"
          locale="en-US"
          [ngStyle]="{ width: '--webkit-fill-available' }"
          class="input-field w-full h-[44px] text-xl text-gray-800"
        />
      </div>

      <div class="flex flex-col gap-1">
        @if (image$()) {
          <div class="flex gap-2">
            <div class="image-container relative py-2">
              <img
                [src]="image$()"
                alt="image"
                style="width: 100px; height: 100px"
              />
              <button
                pButton
                pRipple
                class="delete-button absolute top-0 right-0"
                (click)="image$.set('')"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        }

        <button
          mat-icon-button
          class="image-icon"
          pTooltip="Add Image"
          tooltipPosition="top"
          (click)="fileInput.click()"
        >
          <mat-icon>collections</mat-icon>
        </button>

        <!-- File input -->
        <input
          #fileInput
          id="fileInput"
          type="file"
          accept="image/*"
          (change)="onImageSelect($event)"
          style="display: none"
        />
      </div>
      <div class="flex justify-between w-full pt-6">
        <button
          mat-stroked-button
          (click)="
            sideNavOpen$.set(false);
            mode$() === ProductFormMode.Edit ? deleteProduct() : null
          "
          [color]="mode$() === ProductFormMode.Edit ? 'warn' : 'primary'"
          class="px-[32px] py-[18px] text-lg shadow-2"
        >
          {{ mode$() === ProductFormMode.Edit ? "Delete Product" : "Cancel" }}
        </button>
        <button
          mat-raised-button
          [disabled]="productForm.invalid || !image$()"
          (click)="submitForm()"
          color="primary"
          type="submit"
          class="px-[32px] py-[18px] text-lg shadow-2"
        >
          {{ mode$() === ProductFormMode.Edit ? "Update" : "Create" }}
        </button>
      </div>
    </form>
  }
</div>
