

.image-icon {
  border: 1px solid #8f9397;
  border-radius: 5px;
}

.delete-button {
  background-color: rgba(209, 159, 156, 0.51);
}

.form-field::ng-deep {
  .mdc-text-field--filled {
    background-color: #fff !important;
  }

  .mat-form-field-wrapper {
    margin-bottom: -1.25em !important;
  }

  .mat-mdc-form-field-subscript-wrapper {
    //hide
    display: none;
    height: 0;
  }
}
