main {
  background-color: rgb(242, 246, 249);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .product-board-comp {
    min-width: 86%;
    height: 100%;
    padding-top: 4%;

    // if screen  height is less than 768px
    @media (max-height: 768px) {
      padding-top: 12px;
    }
  }
}
